
@{
    ViewData["Title"] = "Кампании обзвона";
}
<a class="btn btn-info" href="@Url.Action("Edit")">Добавить</a>
<table id="campaignsTable" class="table table-striped table-paginated" data-datasource="@Url.Action("LoadData")" data-initial-page="@ViewBag.Page">
    <thead>
        <tr>
            <th>
                Наименование кампании
            </th>
            <th style="width: 140px;">
                Статус
            </th>
            <th>
                Статистика
            </th>
            <th>
                Голосовая запись
            </th>
            <th>
                Список абонентов
            </th>
            <th>

            </th>
        </tr>
    </thead>
    <tbody>
    </tbody>
</table>
<a class="btn btn-info" href="@Url.Action("Edit")">Добавить</a>


@section Scripts {
    <script src="~/js/paginatedtable.js"></script>
    <script>
        (function campaignsEventHandler() {
            function startCampaign(row, target) {
                $.get('Campaign/Start/' + row.data('rowid'), function () {
                    target.removeClass('oi-media-play');
                    target.addClass('oi-media-pause');
                    target.prop('title', 'Остановить обзвон');
                    $('.campaign-status', row).html('Запущен');
                }).fail(function () {
                        alert('Не удалось запустить кампанию обзвона');
                    })
            }

            function stopCampaign(row, target) {
                $.get('Campaign/Stop/' + row.data('rowid'), function () {
                    target.removeClass('oi-media-pause');
                    target.removeClass('oi-media-stop');
                    target.addClass('oi-media-play');
                    target.prop('title', 'Запустить обзвон');
                    $('.campaign-status', row).html('Остановлен');
                }).fail(function () {
                    alert('Не удалось остановить кампанию обзвона');
                });
            }

            function restartCampaign(row) {
                $.post('@Url.Action("Restart")',
                    { id: row.data('rowid') },
                    function (result) {
                        alert('Кампания перезапущена.');
                        var tab = row.closest('table').getPaginatedTable();
                        if (tab) {
                            tab.load();
                        }
                    }).fail(function (ex) {
                        alert('Не удалось перезапустить кампанию');
                        console.error(ex);
                    });
            }

            $("#campaignsTable").click(function (event) {
                var target = $(event.target);
                if (target.hasClass("oi-media-play")) {
                    startCampaign(target.closest('tr'), target);
                    return;
                }
                if (target.hasClass('oi-media-stop') || target.hasClass('oi-media-pause')) {
                    stopCampaign(target.closest('tr'), target);
                    return;
                }
                if (target.hasClass('oi-reload')) {
                    restartCampaign(target.closest('tr'));
                }
            });
        })();
    </script>
}

