@model IEnumerable<AstCaller.ViewModels.CampaignViewModel>

@foreach (var entity in Model)
{
    <tr data-pages-count="@ViewBag.TotalPages" data-rowid="@(entity.Id)">
        <td class="popover-handler" data-trigger="hover" data-original-title="Расписание" data-content="@(await Html.PartialAsync("ShowSchedule", entity.Schedules))">
            @entity.Name
        </td>
        <td>
            @if (entity.Status == AstCaller.ViewModels.CampaignViewModel.CampaignStatuses.Running)
            {
                <span class="oi oi-media-pause" title="Остановить обзвон"></span><span class="campaign-status">Запущен</span>
            }
            else if (entity.Status == AstCaller.ViewModels.CampaignViewModel.CampaignStatuses.Created ||
                entity.Status == AstCaller.ViewModels.CampaignViewModel.CampaignStatuses.Stopped)
            {
                <span class="oi oi-media-play" title="Запустить обзвон"></span><span class="campaign-status">Остановлен</span>
            }
            else if (entity.Status == AstCaller.ViewModels.CampaignViewModel.CampaignStatuses.Cancelled)
            {
                <span class="campaign-status">Отменен</span>
            }
            else
            {
                <span class="campaign-status">Завершен</span>
            }
        </td>
        <td>
            @entity.AbonentsTotal / @entity.AbonentsLoaded / @entity.AbonentsProcessed
        </td>
        <td>
            <audio controls="" preload="none">
                <source src="@Url.Action("Download", new { campaignId=entity.Id, fileType=AstCaller.ViewModels.FileType.Voice })">
                Your browser does not support the audio element.
            </audio>
        </td>
        <td>
            <a href="@Url.Action("Download",new { campaignId=entity.Id, AstCaller.ViewModels.FileType.Abonents })">@entity.AbonentsFileName</a>
        </td>
        <td>
            @if (entity.Status == AstCaller.ViewModels.CampaignViewModel.CampaignStatuses.Created) {
            <a href="@Url.Action("Delete", new { id = entity.Id })"><span class="oi oi-trash"></span></a>
            <a href="@Url.Action("Edit", new { id=entity.Id })"><span class="oi oi-pencil"></span></a>
            }
        </td>
    </tr>
}